<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <form-stepper-container [formStepperGroupRoot]="formGroup">
    <ng-template formStepperOnboarding formStepperTitle="Onboarding" formStepperPath="onboarding">
      <p>Welcome!</p>
    </ng-template>

    <ng-template formStepperSummary formStepperTitle="Summary" formStepperPath="summary">
      <form-stepper-quicknav [formStepperCompact]="true"></form-stepper-quicknav>
    </ng-template>

    <ng-container formStepperSection="firstName" formStepperTitle="First name">
      <ng-template formStepperStep formStepperPath="first-name">
        <input formControlName="firstName" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="lastName" formStepperTitle="Last name">
      <ng-template formStepperStep formStepperPath="last-name">
        <input formControlName="lastName" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container formArrayName="array" formStepperSection formStepperTitle="Array">
      <ng-template formStepperStep formStepperPath="array">
        Array item 0<br />
        <input [formControlName]="0" formStepperControl />
        <br /><br />
        Array item 1<br />
        <input [formControlName]="1" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container formGroupName="arrayGroup" formStepperSection formStepperTitle="Array Group">
      <ng-template formArrayName="array2" formStepperStep formStepperTitle="Array 2" formStepperPath="array2">
        <div *ngFor="let i of array2Indexes">
          <input [formControlName]="i" formStepperControl />
        </div>
      </ng-template>

      <ng-template formStepperStep="foo" formStepperTitle="Foo" formStepperPath="foo">
        <input formControlName="foo" formStepperControl />
      </ng-template>
    </ng-container>
  </form-stepper-container>
</form>
