<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <form-stepper-container [formStepperGroupRoot]="formGroup" #formStepper>
    <ng-template formStepperMain>
      <ng-container *ngIf="formStepper.main$ | async as main">
        <h2>{{ main.stepTitle }}</h2>

        <div>
          <ng-container [ngTemplateOutlet]="main.stepTemplate"></ng-container>
        </div>

        <button
          *ngIf="!main.isFirstStep"
          mat-button
          type="button"
          tabindex="-1"
          formStepperPrev
          formStepperInactive="mat-button-disabled"
          class="prev"
        >
          Prev
        </button>

        <ng-container *ngIf="!main.isLastStep; else submit">
          <button
            mat-raised-button
            type="button"
            tabindex="-1"
            formStepperNext
            formStepperInactive="mat-button-disabled"
          >
            {{ main.isFirstStep ? 'Start' : 'Next' }}
          </button>
        </ng-container>

        <ng-template #submit>
          <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid || isBeingSubmitted">
            Submit
          </button>
        </ng-template>
      </ng-container>
    </ng-template>

    <ng-template formStepperOnboarding formStepperTitle="Onboarding" formStepperPath="onboarding">
      <p>Welcome to Form Stepper with Material integration.</p>
    </ng-template>

    <ng-container formGroupName="fullName" formStepperSection formStepperTitle="Full name">
      <ng-template formStepperStep="firstName" formStepperTitle="First name" formStepperPath="first-name">
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" formStepperControl />
        </mat-form-field>
      </ng-template>

      <ng-template formStepperStep="lastName" formStepperTitle="Last name" formStepperPath="last-name">
        <mat-form-field appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" formStepperControl />
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="email" formStepperTitle="Email">
      <ng-template formStepperStep formStepperPath="email">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter a valid email" formControlName="email" formStepperControl />
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="cgu" formStepperTitle="Summary" [formStepperNoQuicknav]="true">
      <ng-template formStepperStep formStepperPath="summary">
        <form-stepper-quicknav></form-stepper-quicknav>
        <mat-checkbox formControlName="cgu" formStepperControl>CGU</mat-checkbox>
        <div class="spacer"></div>
      </ng-template>
    </ng-container>
  </form-stepper-container>
</form>

<app-view-code
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/form-stepper/material/material.component.html"
></app-view-code>
