<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <form-stepper-container [fsFormGroupRoot]="formGroup">
    <ng-template formStepperOnboarding fsTitle="Onboarding" fsPath="onboarding">
      <h2>Onboarding</h2>

      <p>Welcome to Form Stepper.</p>

      <p class="actions">
        <button type="button" formStepperNext>Start</button>
      </p>
    </ng-template>

    <ng-container formStepperSection="firstName" fsTitle="First name">
      <ng-template formStepperStep fsPath="first-name">
        <h2>What's your first name?</h2>

        <input formControlName="firstName" formStepperControl />

        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="lastName" fsTitle="Last name">
      <ng-template formStepperStep fsPath="last-name">
        <h2>What's your last name?</h2>

        <input formControlName="lastName" formStepperControl />

        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </ng-template>
    </ng-container>

    <ng-container formArrayName="hobbies" formStepperSection fsTitle="Hobbies">
      <ng-template formStepperStep fsPath="hobbies">
        <h2>What are your 2 favorite hobbies?</h2>

        <p *ngFor="let _ of hobbies.controls; let i = index">
          Hobby {{ i }} <input [formControlName]="i" formStepperControl />
        </p>

        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="cgu" fsTitle="Summary" fsNoQuicknav>
      <ng-template formStepperStep fsPath="summary">
        <h2>Summary</h2>

        <form-stepper-quicknav fsCompact></form-stepper-quicknav>

        <label><input type="checkbox" formControlName="cgu" formStepperControl /> CGU</label>

        <p class="actions">
          <button type="submit" [disabled]="formGroup.invalid || isBeingSubmitted">Submit</button>
        </p>
      </ng-template>
    </ng-container>

    <ng-template #actions>
      <p class="actions">
        <button type="button" formStepperPrev>Previous</button>
        <button type="button" formStepperNext>Next</button>
      </p>
    </ng-template>
  </form-stepper-container>
</form>

<pre>Form {{ formGroup.value | json }}</pre>

<app-view-source
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/form-stepper/one-level/one-level.component.html"
></app-view-source>
