<pre>{{ formGroup.value | json }}</pre>

<form [formGroup]="formGroup">
  <input formControlName="list" [autocompleteInput2]="autocomplete1" />

  <autocomplete-suggestions
    #autocomplete1
    [datalist]="datalist"
    [minLength]="minLength"
    [value]="formGroup.controls.list.value ?? ''"
    (suggestion)="formGroup.controls.list.setValue($event)"
  >
    <ng-container *ngIf="autocomplete1.suggestions$ | async as suggestions">
      <div
        *ngIf="autocomplete1.shouldDisplaySuggestions && suggestions.length > 0"
        class="autocomplete-input__suggestions"
      >
        <div
          autocompleteSuggestion
          *ngFor="let suggestion of suggestions; index as suggestionIndex"
          class="autocomplete-input__suggestion"
          [class.autocomplete-input__suggestion--focused]="suggestionIndex === autocomplete1.focusedSuggestionIndex"
          (click)="autocomplete1.selectSuggestion(suggestion)"
        >
          <span [innerHTML]="suggestion | autocompleteHighlightSuggestion: autocomplete1.value"></span>

          <span *ngIf="suggestion === autocomplete1.value" class="autocomplete-input__suggestion-check">&check;</span>
        </div>
      </div>
    </ng-container>
  </autocomplete-suggestions>
</form>

<br /><br /><br /><br /><br />

<pre>{{ value | json }}</pre>

<input [value]="value" [autocompleteInput2]="autocomplete2" />

<autocomplete-suggestions #autocomplete2 [(value)]="value" [datalist]="datalist" [minLength]="minLength">
  <ng-container *ngIf="autocomplete2.suggestions$ | async as suggestions">
    <div
      *ngIf="autocomplete2.shouldDisplaySuggestions && suggestions.length > 0"
      class="autocomplete-input__suggestions"
    >
      <div
        autocompleteSuggestion
        *ngFor="let suggestion of suggestions; index as suggestionIndex"
        class="autocomplete-input__suggestion"
        [class.autocomplete-input__suggestion--focused]="suggestionIndex === autocomplete2.focusedSuggestionIndex"
        (click)="autocomplete2.selectSuggestion(suggestion)"
      >
        <span [innerHTML]="suggestion | autocompleteHighlightSuggestion: autocomplete2.value"></span>

        <span *ngIf="suggestion === autocomplete2.value" class="autocomplete-input__suggestion-check">&check;</span>
      </div>
    </div>
  </ng-container>
</autocomplete-suggestions>
