<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <ng-container formStepperContainer #stepper="stepper">
    <div style="display: flex; justify-content: center">
      <div style="padding: 3rem">
        <ng-container
          *ngIf="stepper.stepTemplate$ | async as stepTemplate"
          [ngTemplateOutlet]="stepTemplate"
        ></ng-container>
      </div>

      <div style="padding: 3rem">
        <form-stepper-nav></form-stepper-nav>
      </div>
    </div>

    <div style="padding: 3rem; text-align: center" *ngIf="stepper.state$ | async as state">
      <button type="button" [disabled]="!state.hasPrevStep" (click)="stepper.prevStep()">Prev</button>

      <button type="button" [disabled]="!state.hasNextStep || !state.isCurrentStepValid" (click)="stepper.nextStep()">
        Next
      </button>

      <br />{{ state.allStepsViewed && formGroup.valid ? 'READY TO SUBMIT' : ''}}
    </div>

    <ng-container [formStepperSection]="fullName" title="Full name" urlPath="full-name">
      <ng-template [formStepperStep]="firstName" title="First name" urlPath="first-name">
        First name:<br />
        <input [formControl]="firstName" />
      </ng-template>

      <ng-template [formStepperStep]="lastName" title="Last name" urlPath="last-name">
        Last name:<br />
        <input [formControl]="lastName" />
      </ng-template>
    </ng-container>

    <ng-container [formStepperSection]="address" title="Address" urlPath="address">
      <ng-template [formStepperStep]="street" title="Street" urlPath="street">
        Street:<br />
        <input [formControl]="street" />
      </ng-template>

      <ng-template [formStepperStep]="zipCodeAndCity" title="Zip code and city" urlPath="zip-code-and-city">
        Zip code:<br />
        <input [formControl]="zipCode" /><br />
        City:<br />
        <input [formControl]="city" />
      </ng-template>
    </ng-container>
  </ng-container>
</form>

<pre style="width: 300px; margin: auto">Value: {{ formGroup.value | json }}</pre>

<a routerLink="/form-stepper/address-street">1</a>
<a routerLink="/form-stepper/address-zip-code-and-city">2</a>
