
<ng-container [formStepperContainer]="formGroup" #stepper="stepper">
  <div style="display: flex">
    <div>
      <ng-container *ngIf="stepper.currentStep$ | async as currentStep" [ngTemplateOutlet]="currentStep"></ng-container>
    </div>
    <div>
      <form-stepper-nav></form-stepper-nav>
    </div>
  </div>

  <ng-container [formStepperSection]="fullName" title="Full name">
    <ng-template [formStepperStep]="firstName" title="First name">
      First name: <input [formControl]="firstName" />
    </ng-template>

    <ng-template [formStepperStep]="lastName" title="Last name">
      Last name: <input [formControl]="lastName" />
    </ng-template>
  </ng-container>

  <ng-container [formStepperSection]="address" title="Address">
    <ng-template [formStepperStep]="street" title="Street">Street: <input [formControl]="street" /></ng-template>

    <ng-template [formStepperStep]="zipCodeAndCity" title="Zip code and city">
      Zip code: <input [formControl]="zipCode" /><br />
      City: <input [formControl]="city" />
    </ng-template>
  </ng-container>
</ng-container>

<div>
  <button (click)="stepper.prevStep()">Prev</button>
  <button (click)="stepper.nextStep()" [disabled]="(stepper.isCurrentStepValid$ | async) === false">Next</button>
</div>

<pre>Value: {{ formGroup.value | json }}</pre>
