<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <!--
    `FormStepperContainerComponent` is the stepper root component.

    `fsFormGroupRoot` input is required and allows the FormStepper to determine when a step, a section or the entire form is valid.
  -->
  <form-stepper-container [fsFormGroupRoot]="formGroup" [fsValidSectionIcon]="validIcon" #formStepper>
    <!--
      The `formStepperMain` directive is optional and allows you to customize the current step template.
      To achieve this, use the `formStepper.main$` observable which exposes the details of the current step.

      Note: if the directive is not present, the `formStepperStep` template is displayed as the current step content.
      And therfore, you need to display the step title, the previous and next buttons directly in each step template.
    -->
    <ng-template formStepperMain>
      <ng-container *ngIf="formStepper.main$ | async as main">
        <a formStepperPrevAnchor fsInactive="prev--disabled" href="#prev" class="prev">Previous</a>

        <h2>{{ main.stepTitle }}</h2>

        <ng-container [ngTemplateOutlet]="main.stepTemplate"></ng-container>

        <p class="actions">
          <button *ngIf="!main.isLastStep; else submitButton" formStepperNext type="button" tabindex="-1">
            {{ main.isOnboarding ? 'Start' : 'Next' }}
          </button>

          <ng-template #submitButton>
            <button type="submit" [disabled]="formGroup.invalid || isBeingSubmitted">Submit</button>
          </ng-template>
        </p>
      </ng-container>
    </ng-template>

    <!--
      `formStepperOnboarding` is optional and displays a static page as first step (can not contain any form field).

      `fsTitle` and `fsPath` are required inputs.
    -->
    <ng-template formStepperOnboarding fsTitle="Onboarding" fsPath="onboarding" [fsIcon]="onboardingIcon">
      <p>Welcome to Form Stepper.</p>
    </ng-template>

    <!--
      `formStepperSection` is required to define a section.
        - the value is optional if a `formGroup`, `formGroupName` or `formArrayName` directive is present.

      `fsTitle` is a required input.
      `fsIcon` is always an optional input.
    -->
    <ng-container formGroupName="fullName" formStepperSection fsTitle="Full name" [fsIcon]="fullNameIcon">
      <!--
        `formStepperStep` is required and define a step inside a section.
          - the value is optional if a `formGroup`, `formGroupName` or `formArrayName` directive is present.
          - the value is also optional if there's only one step in the section (the value will be then inferred from the section).

        In the example below, we have 2 steps ("firstName" and "lastName") in the section ("fullName").
        The value of the `formStepperStep` input can be:
          - an AbstractControl like `this.formGroup.get(['fullName', 'firstName'])`.
          - a string like `"firstName"` (assuming that it represent a child of the parent section - "fullName" in this example, which is a FormGroup).

        `fsTitle` and `fsPath` are required inputs.
      -->
      <ng-template formStepperStep="firstName" fsTitle="First name" fsPath="first-name">
        <label>
          <!--
            Notice the `formStepperControl` directive that allow to:
              - autofocus the first `FormControl` in the step (only when it has no value).
              - prevent submitting the form when pressing "Enter" key.
              - jump to the next step when pressing "Enter" key (if the current step is valid).

            You can adapt the behavior of the directive using `fsOnEnter` input which have the following type:
              - `{ preventDefault: boolean; nextStep: boolean }`
          -->
          First name<br />
          <input formControlName="firstName" formStepperControl />
        </label>
      </ng-template>

      <!--
        Notice the usage of `fsOptions` input.
        When defined, `fsTitle`, `fsPath` and `fsAutoNextOnValueChange` inputs are ignored.
      -->
      <ng-template formStepperStep="lastName" [fsOptions]="{ title: 'Last name', path: 'last-name' }">
        <label>
          Last name<br />
          <input formControlName="lastName" formStepperControl />
        </label>
      </ng-template>
    </ng-container>

    <!--
      This section only have one step. In this case, the value of `formStepperStep` is optional.

      Notice the usage of `fsOptions` input.
      When defined, `fsTitle`, `fsIcon` and `fsNoQuicknav` inputs are ignored.
    -->
    <ng-container formStepperSection="haveCompany" [fsOptions]="{ title: 'Have company ?', icon: companyIcon }">
      <!--
        This step only contains radio buttons choice.
        In this situation, using the `fsAutoNextOnValueChange` input, allow to jump
        to the next step each time the value changes (and the current step is valid).
      -->
      <ng-template formStepperStep fsAutoNextOnValueChange fsPath="have-company">
        <label>
          <input type="radio" [value]="false" formControlName="haveCompany" />
          No
        </label>

        <label>
          <input type="radio" [value]="true" formControlName="haveCompany" />
          Yes
        </label>
      </ng-template>
    </ng-container>

    <!--
      This section demonstrate that the FormStepper supports `formArrayName` directive.
      It also demonstrate that `fsTitle` is dynamic and therfore can be updated at any time.
    -->
    <ng-container [ngSwitch]="haveCompany$ | async">
      <ng-container
        *ngSwitchCase="false"
        formArrayName="hobbies"
        formStepperSection
        [fsTitle]="'Hobbies (' + hobbiesCtrl.controls.length + ')'"
        [fsIcon]="hobbiesIcon"
      >
        <ng-template formStepperStep fsPath="hobbies">
          <label *ngFor="let _ of hobbiesCtrl.controls; let index = index">
            Hobby {{ index + 1 }}<br />
            <input [formControlName]="index" formStepperControl />
          </label>
          <br />
          <button type="button" (click)="addHobbyCtrl()">Add hobby</button>
        </ng-template>
      </ng-container>
    </ng-container>

    <!--
      This section demonstrate the usage of the input `fsNoStepsNav` to hide the steps in the "nav" for one particular section only.
      Note that you can configure this for the entire stepper using the input `fsNoStepsNav` on `<form-stepper-container>`.
    -->
    <ng-container [ngSwitch]="haveCompany$ | async">
      <ng-container
        *ngSwitchCase="false"
        formGroupName="contact"
        formStepperSection
        fsTitle="Contact"
        [fsIcon]="contactIcon"
        fsNoStepsNav
      >
        <ng-template formStepperStep="email" fsTitle="Email" fsPath="email">
          <label>
            Email<br />
            <input formControlName="email" formStepperControl />
            (enter a valid email)
          </label>
        </ng-template>

        <!--
          This step demonstrate that it is possible to have multiple FormControl in one step.
        -->
        <ng-template formGroupName="address" formStepperStep fsTitle="Address" fsPath="address">
          <label>
            Street<br />
            <input formControlName="street" formStepperControl />
          </label>

          <label>
            Zip code<br />
            <input formControlName="zipCode" formStepperControl />
          </label>
        </ng-template>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="haveCompany$ | async" formGroupName="company" formStepperSection fsTitle="Company">
      <ng-template formStepperStep fsPath="company">
        <label>
          Name<br />
          <input formControlName="name" formStepperControl />
        </label>

        <label>
          Activity<br />
          <input formControlName="activity" formStepperControl />
        </label>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="message" fsTitle="Message" [fsIcon]="messageIcon">
      <ng-template formStepperStep fsPath="message">
        <label>
          <!--
            Because this is a `<textarea>`, this time pressing on "Enter" key should not trigger navigation.
          -->
          Message<br />
          <textarea
            formControlName="message"
            formStepperControl
            [fsOnEnter]="{ preventDefault: false, nextStep: false }"
            placeholder="Leave an optional message"
          ></textarea>
          <p>Click on "Next" to skip this step.</p>
        </label>
      </ng-template>
    </ng-container>

    <!--
      `formStepperSummary` is optional and displays a static page as last step (can not contain any form field).
    -->
    <ng-template formStepperSummary fsTitle="Summary" fsPath="summary" [fsIcon]="summaryIcon">
      <!--
        The quicknav displays a summary of the form value.
        You can use it in the `formStepperSummary` like in this example.

        But if for example, you need a checkbox for CGU just below the summary, you can use it in a regular `formStepperStep`.
        In this case, however, you should use `fsNoQuicknav` input at the section level to remove the entire section from the quicknav.
      -->
      <form-stepper-quicknav [fsFormat]="quicknavFormatter"></form-stepper-quicknav>
    </ng-template>
  </form-stepper-container>
</form>

<ng-template #validIcon><mat-icon>check</mat-icon></ng-template>

<ng-template #onboardingIcon><mat-icon>info</mat-icon></ng-template>
<ng-template #fullNameIcon><mat-icon>face</mat-icon></ng-template>
<ng-template #companyIcon><mat-icon>business</mat-icon></ng-template>
<ng-template #contactIcon><mat-icon>location_on</mat-icon></ng-template>
<ng-template #hobbiesIcon><mat-icon>beach_access</mat-icon></ng-template>
<ng-template #messageIcon><mat-icon>message</mat-icon></ng-template>
<ng-template #summaryIcon><mat-icon>verified_user</mat-icon></ng-template>

<pre>Form {{ formGroup.value | json }}</pre>

<app-view-source
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/form-stepper/demo/demo.component.html"
></app-view-source>
