label {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

pre {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  background-color: #fafafa;
}

.prev {
  color: inherit;

  &--disabled {
    color: #999;
  }
}

.actions {
  margin-top: 1.5rem;
}
