h2.title {
  margin: 16px 0 36px;
  line-height: 48px;
  font-size: 36px;

  @media (max-width: 479px) {
    font-size: 28px;
  }
}

.autocomplete-input {
  &__input {
    // width: 100%;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    line-height: inherit;
    font: inherit;

    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #ddd;
    padding: 1rem;
  }

  &__suggestions {
    max-height: 50vh;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(34, 34, 34, 0.3);
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 0.4em 0;
  }

  &__suggestion {
    display: flex;
    justify-content: space-between;
    padding: 0.8em 1.2em;
    outline: none;
    cursor: pointer;

    &:hover,
    &--focused {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &-highlight,
    &-check {
      color: #1e7000;
    }
  }
}

input {
  outline: none;
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 1rem;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-valid {
  border-color: green;
}
