<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <!--
    The FormStepper must be aware of the `formGroup` root.
    For that you have to set the value of the `formStepperGroupRoot` intput.

    The `formStepperDisabled` input allow to disable the submit button while submitting the form.
  -->
  <form-stepper-container [formStepperGroupRoot]="formGroup" [formStepperDisabled]="isBeingSubmitted">
    <!-- The `formStepperOnboarding` directive define the static onboarding page with the associated title and path. -->
    <ng-template formStepperOnboarding formStepperTitle="Onboarding" formStepperPath="onboarding">
      <p>
        Welcome to demo 1.<br />
        This is a one-level stepper where each section contains only one step.
      </p>
    </ng-template>

    <!-- The `formStepperSummary` directive define the static summary page with the associated title and path. -->
    <ng-template formStepperSummary formStepperTitle="Summary" formStepperPath="summary">
      <!--
        The quicknav component display the form value by section,
        and let you quickly navigate to any step.

        For one-level stepper, set the `formStepperCompact` input to `true`.
      -->
      <form-stepper-quicknav [formStepperCompact]="true"></form-stepper-quicknav>
    </ng-template>

    <!--
      The value of the `formStepperSection` directive define the scope of the section in terms of form validation.
      The user can't navigate to the next section until the current one is valid.

      The directive's value can be an `AbstractControl` (usually a `FormGroup`) or a string.
      The code below use the string `"email"` but is equivalent to: `[formStepperSection]="formGroup.get('email')!"`
    -->
    <ng-container formStepperSection="email" formStepperTitle="Email">
      <!--
        The value of the `formStepperStep` directive define the scope of the step in terms of form validation.
        The user can't navigate to the next step until the current one is valid.

        The directive's value can be an `AbstractControl` (usually a `FormControl` or a `FormGroup`) or a string.
        When there's only one step in the section, this value is optional.

        The directive input `formStepperPath` is required to define the associated path.
      -->
      <ng-template formStepperStep formStepperPath="email">
        <!--
          The `formStepperControl` directive adds some behaviors to the form fields:
            - giving focus to the first one
            - passing focus to the next one when clicking on `Enter` key.
        -->
        <input formControlName="email" formStepperControl /> (enter a valid email format)
      </ng-template>
    </ng-container>

    <!--
      This section demonstrate that a step might contain multiple fields.
      Here, the section `fullName` has one step that contains 2 fields: `firstName` and `lastName`.
      The user can't navigate to the next step until both fields are valid.

      Pay attention that here, the value of the `formStepperSection` directive is optional.
      This is because this value is provided by the `formGroupName`
      (note that it works in the same way when `formGroup` or `formArrayName` directives are provided).
    -->
    <ng-container formGroupName="fullName" formStepperSection formStepperTitle="Full name">
      <ng-template formStepperStep formStepperPath="full-name">
        <label>
          First name
          <input formControlName="firstName" formStepperControl />
        </label>

        <label>
          Last name
          <input formControlName="lastName" formStepperControl />
        </label>
      </ng-template>
    </ng-container>
  </form-stepper-container>
</form>
