<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ng-container formStepperContainer [formStepperGroupRoot]="formGroup" #formStepper="formStepper">
    <div *ngIf="formStepper.main$ | async as main" class="main">
      <div class="main__content">
        <h2>{{ main.stepTitle }}</h2>

        <div class="main__template">
          <ng-container [ngTemplateOutlet]="main.stepTemplate"></ng-container>
        </div>

        <button *ngIf="!main.isFirstStep" mat-button type="button" tabindex="-1" formStepperPrev class="main__prev">
          Prev
        </button>

        <ng-container *ngIf="!main.isLastStep; else submit">
          <button mat-raised-button type="button" tabindex="-1" formStepperNext>
            {{ main.isFirstStep ? 'Start' : 'Next' }}
          </button>
        </ng-container>

        <ng-template #submit>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid || isBeingSubmitted">
            Submit
          </button>
        </ng-template>
      </div>

      <form-stepper-nav class="main__nav"></form-stepper-nav>
    </div>

    <ng-template formStepperOnboarding formStepperTitle="Onboarding" formStepperPath="onboarding">
      <p>Welcome to custom Form Stepper.</p>
    </ng-template>

    <ng-container formGroupName="fullName" formStepperSection formStepperTitle="Full name">
      <ng-template formStepperStep="firstName" formStepperTitle="First name" formStepperPath="first-name">
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" formStepperControl />
        </mat-form-field>
      </ng-template>

      <ng-template formStepperStep="lastName" formStepperTitle="Last name" formStepperPath="last-name">
        <mat-form-field appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" formStepperControl />
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="email" formStepperTitle="Email">
      <ng-template formStepperStep formStepperPath="email">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" formStepperControl />
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="cgu" formStepperTitle="Summary" [formStepperNoQuicknav]="true">
      <ng-template formStepperStep formStepperPath="summary">
        <form-stepper-quicknav></form-stepper-quicknav>
        <mat-checkbox formControlName="cgu" formStepperControl>CGU</mat-checkbox>
      </ng-template>
    </ng-container>
  </ng-container>
</form>

<app-view-code
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/form-stepper/custom/custom.component.html"
></app-view-code>
