.main {
  display: flex;
}

.main__content {
  flex-grow: 1;
}

.main__template {
  margin-bottom: 1.5rem;
}

.main__prev {
  margin-right: 1.5rem;
}

.main__nav {
  width: 320px;
  margin-left: 3rem;
}

@media (max-width: 959px) {
  .main {
    flex-direction: column-reverse;
  }

  .main__nav {
    width: auto;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
}
