<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <ng-container formStepperContainer [formStepperValidSectionIcon]="validSectionIcon" #formStepper="formStepper">
    <app-custom-main
      *ngIf="formStepper.main$ | async as main"
      [main]="main"
      [isFormGroupValid]="formGroup.valid"
      [submitInProgress]="submitInProgress"
    ></app-custom-main>

    <ng-template
      formStepperOnboarding
      formStepperTitle="Onboarding"
      [formStepperIcon]="onboardingIcon"
      formStepperPath="onboarding"
    >
      <p>Custom form stepper.</p>
    </ng-template>

    <ng-container [formStepperSection]="fullName" [formStepperIcon]="fullNameIcon" formStepperTitle="Full name">
      <ng-template [formStepperStep]="firstName" formStepperTitle="First name" formStepperPath="first-name">
        First name:<br />
        <input [formControl]="firstName" formStepperControl />
      </ng-template>

      <ng-template [formStepperStep]="lastName" formStepperTitle="Last name" formStepperPath="last-name">
        Last name:<br />
        <input [formControl]="lastName" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container [formStepperSection]="contact" formStepperTitle="Contact">
      <ng-template [formStepperStep]="email" formStepperTitle="Email" formStepperPath="email">
        Email:<br />
        <input [formControl]="email" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container [formStepperSection]="consent" formStepperTitle="Consent" [formStepperNoQuicknav]="true">
      <ng-template [formStepperStep]="cgu" formStepperTitle="Cgu" formStepperPath="cgu">
        <form-stepper-quicknav></form-stepper-quicknav>
        <input type="checkbox" [formControl]="cgu" formStepperControl /> CGU
      </ng-template>
    </ng-container>
  </ng-container>
</form>

<ng-template #validSectionIcon><fa-icon [icon]="faCoffee"></fa-icon></ng-template>
<ng-template #onboardingIcon><fa-icon [icon]="faUser"></fa-icon></ng-template>
<ng-template #fullNameIcon><fa-icon [icon]="faAddressCard"></fa-icon></ng-template>

<pre style="width: 400px; margin: auto">Value: {{ formGroup.value | json }}</pre>
