<h1>Autocomplete standalone</h1>

<pre>Country: {{ country | json }}</pre>

<input
  #inputRef
  class="input"
  [value]="country"
  (input)="country = inputRef.value"
  [autocompleteInput]="autocomplete"
/>

<br /><br />

<autocomplete-suggestions
  #autocomplete
  [datalist]="countries"
  [inputMinLength]="inputMinLength"
  [(inputValue)]="country"
>
  <div *ngIf="autocomplete.suggestions$ | async as suggestions" class="autocomplete-input__suggestions">
    <div
      *ngFor="let suggestion of suggestions; index as suggestionIndex"
      [autocompleteSuggestion]="suggestion"
      class="autocomplete-input__suggestion"
      [class.autocomplete-input__suggestion--focused]="
        suggestionIndex === (autocomplete.focusedSuggestionIndex$ | async)
      "
    >
      <span [innerHTML]="suggestion | autocompleteHighlight: autocomplete.inputValue"></span>

      <span *ngIf="suggestion === autocomplete.inputValue" class="autocomplete-input__suggestion-check">&check;</span>
    </div>

    <div *ngIf="!suggestions.length" class="autocomplete-input__suggestion autocomplete-input__suggestion--none">
      No suggestion
    </div>
  </div>
</autocomplete-suggestions>

<br /><br />

<button (click)="country = ''">Reset</button>

<app-view-source
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/autocomplete/standalone/standalone.component.html"
></app-view-source>
