<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <form-stepper-container
    [formStepperGroupRoot]="formGroup"
    [formStepperDisabled]="isBeingSubmitted"
    [formStepperValidSectionIcon]="validIcon"
  >
    <ng-template
      formStepperOnboarding
      formStepperTitle="Onboarding"
      formStepperPath="onboarding"
      [formStepperIcon]="onboardingIcon"
    >
      <p>Welcome to demo 2.</p>
    </ng-template>

    <ng-container
      formGroupName="fullName"
      formStepperSection
      formStepperTitle="Full name"
      [formStepperIcon]="fullNameIcon"
    >
      <ng-template formStepperStep="firstName" formStepperTitle="First name" formStepperPath="first-name">
        <label>
          First name<br />
          <input formControlName="firstName" formStepperControl />
        </label>
      </ng-template>

      <ng-template formStepperStep="lastName" formStepperTitle="Last name" formStepperPath="last-name">
        <label>
          Last name<br />
          <input formControlName="lastName" formStepperControl />
        </label>
      </ng-template>
    </ng-container>

    <ng-container
      formStepperSection="haveCompany"
      formStepperTitle="Have company ?"
      [formStepperIcon]="haveCompanyIcon"
    >
      <ng-template formStepperStep formStepperPath="have-company">
        <label>
          <input type="radio" [value]="false" formControlName="haveCompany" />
          No
        </label>
        <label>
          <input type="radio" [value]="true" formControlName="haveCompany" />
          Yes
        </label>
      </ng-template>
    </ng-container>

    <ng-container
      *ngIf="!haveCompanyCtrl.value"
      formGroupName="contact"
      formStepperSection
      formStepperTitle="Contact"
      [formStepperIcon]="contactIcon"
    >
      <ng-template formStepperStep="email" formStepperTitle="Email" formStepperPath="email">
        <label>
          Email<br />
          <input formControlName="email" formStepperControl />
          (enter a valid email)
        </label>
      </ng-template>

      <ng-template formGroupName="address" formStepperStep formStepperTitle="Address" formStepperPath="address">
        <label>
          Street<br />
          <input formControlName="street" formStepperControl />
        </label>

        <label>
          Zip code<br />
          <input formControlName="zipCode" formStepperControl />
        </label>
      </ng-template>
    </ng-container>

    <ng-container
      *ngIf="!haveCompanyCtrl.value"
      formArrayName="hobbies"
      formStepperSection
      formStepperTitle="Hobbies"
      [formStepperIcon]="hobbiesIcon"
    >
      <ng-template formStepperStep formStepperPath="hobbies">
        <label *ngFor="let _ of hobbiesCtrl.controls; let index = index">
          Hobby {{ index + 1 }}<br />
          <input [formControlName]="index" formStepperControl />
        </label>
        <br />
        <button type="button" (click)="addHobbyCtrl()">Add hobby</button>
      </ng-template>
    </ng-container>

    <ng-container
      *ngIf="haveCompanyCtrl.value"
      formGroupName="company"
      formStepperSection
      formStepperTitle="Company"
      [formStepperIcon]="companyIcon"
    >
      <ng-template formStepperStep formStepperPath="company">
        <label>
          Name<br />
          <input formControlName="name" formStepperControl />
        </label>

        <label>
          Activity<br />
          <input formControlName="activity" formStepperControl />
        </label>
      </ng-template>
    </ng-container>

    <ng-container formStepperSection="message" formStepperTitle="Message" [formStepperIcon]="messageIcon">
      <ng-template formStepperStep formStepperPath="message">
        <label>
          Message<br />
          <textarea formControlName="message" formStepperControl></textarea>
        </label>
      </ng-template>
    </ng-container>

    <ng-template formStepperSummary formStepperTitle="Summary" formStepperPath="summary" [formStepperIcon]="summayIcon">
      <form-stepper-quicknav></form-stepper-quicknav>
    </ng-template>
  </form-stepper-container>
</form>

<ng-template #contactIcon><fa-icon [icon]="faAt"></fa-icon></ng-template>
<ng-template #validIcon><fa-icon [icon]="faCheck"></fa-icon></ng-template>
<ng-template #summayIcon><fa-icon [icon]="faEye"></fa-icon></ng-template>
<ng-template #hobbiesIcon><fa-icon [icon]="faHeart"></fa-icon></ng-template>
<ng-template #companyIcon><fa-icon [icon]="faIndustry"></fa-icon></ng-template>
<ng-template #onboardingIcon><fa-icon [icon]="faInfo"></fa-icon></ng-template>
<ng-template #messageIcon><fa-icon [icon]="faComment"></fa-icon></ng-template>
<ng-template #haveCompanyIcon><fa-icon [icon]="faQuestion"></fa-icon></ng-template>
<ng-template #fullNameIcon><fa-icon [icon]="faUser"></fa-icon></ng-template>
