<h1>Autocomplete with Reactive Form</h1>

<pre>{{ formGroup.value | json }}</pre>

<form [formGroup]="formGroup">
  <input
    cdkOverlayOrigin
    #dropDownOrigin="cdkOverlayOrigin"
    autocomplete="off"
    class="input"
    formControlName="country"
    [autocompleteInput]="autocomplete"
    #autocompleteInput="autocompleteInput"
  />

  <autocomplete-suggestions
    #autocomplete
    [datalist]="countries"
    [inputMinLength]="inputMinLength"
    [inputValue]="formGroup.controls.country.value ?? ''"
    (inputValueChange)="formGroup.controls.country.setValue($event)"
  >
    <ng-template
      *ngIf="autocomplete.suggestions$ | async as suggestions"
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="dropDownOrigin"
      [cdkConnectedOverlayOpen]="(autocomplete.shouldDisplaySuggestions$ | async) ?? false"
    >
      <div class="autocomplete-input__suggestions" [style.width]="autocompleteInput.inputWidthPx">
        <div
          *ngFor="let suggestion of suggestions; index as suggestionIndex"
          [autocompleteSuggestion]="suggestion"
          class="autocomplete-input__suggestion"
          [class.autocomplete-input__suggestion--focused]="
            suggestionIndex === (autocomplete.focusedSuggestionIndex$ | async)
          "
        >
          <span
            [innerHTML]="
              suggestion
                | autocompleteHighlight: autocomplete.inputValue:{ css: 'autocomplete-input__suggestion-highlight' }
            "
          ></span>

          <span *ngIf="suggestion === autocomplete.inputValue" class="autocomplete-input__suggestion-check">
            &check;
          </span>
        </div>
      </div>
    </ng-template>
  </autocomplete-suggestions>
</form>

<app-view-source
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/autocomplete/reactive-form/reactive-form.component.html"
></app-view-source>
