<h1>RxDataStore</h1>

<p>
  <button (click)="fetch()" [disabled]="demoService.pending$ | async">Fetch todos for the next user</button>
  &nbsp;
  <button (click)="update()" [disabled]="demoService.pending$ | async">Update</button>
</p>

<p>Current userId: {{ userId || '' }}</p>

<p>Number of mutations in the queue (*): {{ disabled.length }}</p>

<p>
  (*) It only applies to the text of a todo item which uses "mutationQueue()" function.<br />
  Removing a todo item or changing its state uses regular "mutation()" function.<br />
  Note that the server simulates a slow internet connection and each request takes 2 seconds...
</p>

<p *ngFor="let todo of demoService.data$ | async; trackBy: trackById">
  <button (click)="remove(todo.id)">Remove</button>
  &nbsp;
  <button (click)="toggleCompleted(todo)">
    {{ todo.completed ? 'Done' : 'Todo' }}
  </button>
  &nbsp;
  <input #input [value]="todo.title" [disabled]="disabled.includes(todo)" (change)="updateTitle(todo, input.value)" />
</p>

<pre *ngIf="demoService.data$ | async as data">Todos {{ data | json }}</pre>
