<mat-list>
  <div mat-subheader>
    <h2>IfNonNullish</h2>
  </div>

  <mat-nav-list>
    <!-- HACK -->
    <a
      style="position: absolute; left: -9999px"
      mat-list-item
      routerLink="/if-non-nullish"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Demo
    </a>
    <a mat-list-item routerLink="/if-non-nullish" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Demo
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>

  <!--
  <div mat-subheader>
    <h2>FormStepper</h2>
  </div>

  <mat-nav-list>
    <a mat-list-item routerLink="/form-stepper/demo/onboarding" routerLinkActive="active">Full demo</a>
    <a mat-list-item routerLink="/form-stepper/one-level/onboarding" routerLinkActive="active">One level</a>
    <a mat-list-item routerLink="/form-stepper/material/onboarding" routerLinkActive="active">Material</a>
    <mat-divider></mat-divider>
  </mat-nav-list>
  -->

  <div mat-subheader>
    <h2>Autocomplete</h2>
  </div>

  <mat-nav-list>
    <a mat-list-item routerLink="/autocomplete" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Demo
    </a>
    <a mat-list-item routerLink="/autocomplete/demo-view" routerLinkActive="active">Using View</a>
    <a mat-list-item routerLink="/autocomplete/reactive-form" routerLinkActive="active">Reactive Form</a>
    <a mat-list-item routerLink="/autocomplete/template-form" routerLinkActive="active">Template Form</a>
    <a mat-list-item routerLink="/autocomplete/standalone" routerLinkActive="active">Standalone</a>
    <mat-divider></mat-divider>
  </mat-nav-list>

  <div mat-subheader>
    <h2>RxDataStore</h2>
  </div>

  <mat-nav-list>
    <a mat-list-item routerLink="/rx-data-store" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Demo
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</mat-list>
