<mat-list>
  <h3 matSubheader><mat-icon>grade</mat-icon> &nbsp; IfNonNullish</h3>

  <mat-nav-list>
    <!-- HACK -->
    <a style="position: absolute; left: -9999px" mat-list-item routerLink="/if-non-nullish" routerLinkActive="active">
      Demo
    </a>

    <a mat-list-item routerLink="/if-non-nullish" routerLinkActive="active">Demo</a>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <h3 matSubheader><mat-icon>grade</mat-icon> &nbsp; FormStepper</h3>

  <mat-nav-list>
    <a mat-list-item routerLink="/form-stepper/demo/onboarding" routerLinkActive="active">Demo</a>
    <a mat-list-item routerLink="/form-stepper/one-level/onboarding" routerLinkActive="active">One level</a>
    <a mat-list-item routerLink="/form-stepper/custom/onboarding" routerLinkActive="active">Custom</a>
  </mat-nav-list>
</mat-list>
