<button (click)="show = !show">{{ show ? 'OUI' : 'NON' }}</button>

<form [formGroup]="formGroup" (ngSubmit)="submitForm()" style="padding: 1.5rem">
  <form-stepper-container [formStepperRoot]="formGroup">
    <ng-template formStepperOnboarding formStepperTitle="Onboarding" formStepperPath="onboarding">
      <p>Welcome to form stepper</p>
    </ng-template>

    <ng-template formStepperSummary formStepperTitle="Summary" formStepperPath="summary">
      <form-stepper-quicknav></form-stepper-quicknav>
    </ng-template>

    <ng-template formStepperSubmit>
      <button type="submit" [disabled]="submitInProgress">Submit</button>
    </ng-template>

    <ng-container [formStepperSection]="fullName" formStepperTitle="Full name">
      <ng-template [formStepperStep]="gender" formStepperTitle="Gender" formStepperPath="gender">
        Gender:<br />
        <input [formControl]="gender" formStepperControl />
      </ng-template>

      <ng-template
        *ngIf="show"
        [formStepperStep]="firstName"
        formStepperTitle="First name"
        formStepperPath="first-name"
      >
        First name:<br />
        <input [formControl]="firstName" formStepperControl />
      </ng-template>

      <ng-template [formStepperStep]="lastName" formStepperTitle="Last name" formStepperPath="last-name">
        Last name:<br />
        <input [formControl]="lastName" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container [formStepperSection]="contact" formStepperTitle="Contact">
      <ng-template [formStepperStep]="email" formStepperTitle="Email" formStepperPath="email">
        Email:<br />
        <input [formControl]="email" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container [formStepperSection]="address" formStepperTitle="Address">
      <ng-template *ngIf="show" [formStepperStep]="street" formStepperTitle="Street" formStepperPath="street">
        Street:<br />
        <input [formControl]="street" formStepperControl />
      </ng-template>

      <ng-template
        [formStepperStep]="zipCodeAndCity"
        formStepperTitle="Zip code and city"
        formStepperPath="zip-code-and-city"
      >
        Zip code:<br />
        <input [formControl]="zipCode" formStepperControl /><br />
        City:<br />
        <input [formControl]="city" formStepperControl />
      </ng-template>
    </ng-container>
  </form-stepper-container>
</form>

<pre style="width: 400px; margin: auto">Value: {{ formGroup.value | json }}</pre>

<a routerLink="/form-stepper/street"> street </a>
<a routerLink="/form-stepper/zip-code-and-city"> zip-code-and-city </a>
<a routerLink="/form-stepper/oops"> oops </a>

<div class="footer">
  <a
    class="link link--external"
    href="https://github.com/avine/ng-libs/blob/main/src/app/form-stepper/form-stepper.component.html"
    target="_blank"
    >view demo source code</a
  >
</div>
