<button (click)="show = !show">{{ show ? 'OUI' : 'NON' }}</button>

<form [formGroup]="formGroup" (ngSubmit)="submitForm()" style="padding: 1.5rem">
  <form-stepper-container [formStepperGroupRoot]="formGroup" [formStepperDisabled]="submitInProgress">
    <ng-template formStepperOnboarding formStepperTitle="Onboarding" formStepperPath="onboarding">
      <p>Welcome to form stepper</p>
    </ng-template>

    <ng-template formStepperSummary formStepperTitle="Summary" formStepperPath="summary">
      <form-stepper-quicknav></form-stepper-quicknav>
    </ng-template>

    <ng-container formGroupName="fullName" formStepperSection formStepperTitle="Full name">
      <ng-template *ngIf="show" formStepperStep="firstName" formStepperTitle="First name" formStepperPath="first-name">
        First name:<br />
        <input formControlName="firstName" formStepperControl />
      </ng-template>

      <ng-template *ngIf="show" formStepperStep="lastName" formStepperTitle="Last name" formStepperPath="last-name">
        Last name:<br />
        <input formControlName="lastName" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container *ngIf="show" formStepperSection="email" formStepperTitle="Email">
      <ng-template formStepperStep formStepperPath="email">
        Email:<br />
        <input formControlName="email" formStepperControl />
      </ng-template>
    </ng-container>

    <ng-container *ngIf="!show" formGroupName="address" formStepperSection formStepperTitle="Address">
      <ng-template formStepperStep="street" formStepperTitle="Street" formStepperPath="street">
        Street:<br />
        <input formControlName="street" formStepperControl />
      </ng-template>

      <ng-template
        formGroupName="zipCodeAndCity"
        formStepperStep
        formStepperTitle="Zip code and city"
        formStepperPath="zip-code-and-city"
      >
        Zip code:<br />
        <input formControlName="zipCode" formStepperControl /><br />
        City:<br />
        <input formControlName="city" formStepperControl />
      </ng-template>
    </ng-container>
  </form-stepper-container>
</form>

<pre style="width: 400px; margin: auto">Value: {{ formGroup.value | json }}</pre>

<a routerLink="/form-stepper/street"> street </a>
<a routerLink="/form-stepper/zip-code-and-city"> zip-code-and-city </a>
<a routerLink="/form-stepper/oops"> oops </a>

<div class="footer">
  <a
    class="link link--external"
    href="https://github.com/avine/ng-libs/blob/main/src/app/form-stepper/form-stepper.component.html"
    target="_blank"
    >view demo source code</a
  >
</div>
