.header {
  border-bottom: 1px solid #eeeeee;
}

.header__brand {
  padding-left: 1rem;
  cursor: pointer;
}

.header__spacer {
  flex: 1 1 auto;
}

.container {
  height: calc(100vh - 56px);
}

.container__sidenav {
  min-width: 300px;
  padding: 1.5rem;
}

.container__content {
  padding: 1.5rem;
  background-color: #ffffff;
}
