h2 {
  margin: 16px 0 36px;
  line-height: 48px;
  text-align: center;
  font-size: 36px;
}

.grid {
  margin: 0 auto;
  max-width: 600px;
}

.buttons-container {
  text-align: center;

  > * {
    display: block;
    margin: 0 auto;
  }

  > * + * {
    margin-top: 10px;
  }
}

.canvas {
  background-color: #f5f5f5;
}

h3 {
  font-size: 28px;
}
