<h2>IfNonNullishDirective</h2>

<div class="layout">
  <div class="output">
    <h3 *ifNonNullish="data$ | async as value; default: defaultValue$ | async; fallback: fallbackTemplate$ | async">
      {{ value }}
    </h3>
  </div>
  
  <div class="slides">
    <div>
      <mat-slide-toggle (change)="useData($event.checked)">Data</mat-slide-toggle>
      <h3>{{ data$ | async }}</h3>
    </div>

    <div>
      <mat-slide-toggle (change)="useDefaultValue($event.checked)">Default value</mat-slide-toggle>
      <h3>{{ defaultValue$ | async }}</h3>
    </div>
    
    <div>
      <mat-slide-toggle (change)="useFallbackTemplate($event.checked)">Fallback template</mat-slide-toggle>
      <ng-container *ngTemplateOutlet="fallbackTemplate$ | async"></ng-container>
    </div>
  </div>
</div>

<ng-template #fallbackTemplateA><h3>A</h3></ng-template>
<ng-template #fallbackTemplateB><h3>B</h3></ng-template>
