<h2 style="text-align: center;">IfNonNullishDirective</h2>

<mat-grid-list cols="3" rowHeight="200px" class="grid">
  <mat-grid-tile colspan="3" class="canvas">
    <h3 *ifNonNullish="data as value; default: defaultValue; fallback: fallbackTemplate">{{ value }}</h3>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="buttons-container">
      <button mat-raised-button [color]="setColor(data)" (click)="setData()">push</button>
      <button mat-raised-button [disabled]="disabled(data)" (click)="unsetData()">unset</button>
      <strong>Data</strong>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="buttons-container">
      <button mat-raised-button [color]="setColor(defaultValue)" (click)="setDefaultValue()">push</button>
      <button mat-raised-button [disabled]="disabled(defaultValue)" (click)="unsetDefaultValue()">unset</button>
      <strong>Default value</strong>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="buttons-container">
      <button mat-raised-button [color]="setColor(fallbackTemplate)" (click)="setFallbackTemplate()">push</button>
      <button mat-raised-button [disabled]="disabled(fallbackTemplate)" (click)="unsetFallbackTemplate()">unset</button>
      <strong>Fallback template</strong>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #fallbackTemplateA><h3>🍓 Fallback template A</h3></ng-template>
<ng-template #fallbackTemplateB><h3>🍓 Fallback template B</h3></ng-template>
