<!-- Just a dummy demo. The real one will come soon... See directive specs for details... -->

<button (click)="default = !default">Toggle default</button>

<div *ifNonNullish="data3$ | async as coucou; default: default; let toto">
  LET>> / {{ coucou | json }} / {{ toto }}
</div>

<div *ifNonNullish="choupi as coucou; let toto">LET / {{ coucou | json }} / {{ toto }}</div>

<div *ifNonNullish="data2$ | async as coucou; let toto">LET / {{ coucou | json }} / {{ toto }}</div>

<div *ifNonNullish="data$ | async as coucou; let toto">LET / {{ coucou | json }} / {{ toto }}</div>

<div *ngIf="data$ | async as coucou; let toto">IF / {{ coucou }} / {{ toto }}</div>

<div *ngIf="data2$ | async as coucou; let toto">IF / {{ coucou }} / {{ toto }}</div>

<div *ifNonNullish="data3$ | async as coucou; fallback: loading">{{ coucou }}</div>

<ng-template #loading>Loading...</ng-template>
