:host {
  display: block;
  margin-top: 48px;
}

.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding: 0.6em 0.9em;
  background-color: #eee;
  text-decoration: none;
  color: #000;
}

.icon {
  width: 1.25em;
  margin-right: 0.5em;
}
