<h1 class="title">
  Welcome to ng-libs
  <img class="logo" src="assets/angular-brands.svg" alt="Github" height="36" />
</h1>

<div class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>IfNonNullish</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Nullish coalescing operator as Angular structural directive and more...</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/if-non-nullish">DEMO</a>
      <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/if-non-nullish#readme">
        DOCS
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Timeline</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Highly customizable timeline.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/timeline">DEMO</a>
      <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/timeline#readme">
        DOCS
      </a>
    </mat-card-actions>
  </mat-card>

  <!--
  <mat-card>
    <mat-card-header>
      <mat-card-title>FormStepper</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Advanced multi-step form that plays well with Angular ReactiveFormsModule.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/form-stepper/demo/onboarding">DEMO</a>
      <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/form-stepper#readme">
        DOCS
      </a>
    </mat-card-actions>
  </mat-card>
  -->

  <mat-card>
    <mat-card-header>
      <mat-card-title>Autocomplete</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Fully customizable autocomplete component for Angular.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/autocomplete">DEMO</a>
      <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/autocomplete#readme">
        DOCS
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>RxDataStore</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Reactive data store.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/rx-data-store">DEMO</a>
      <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/rx-data-store#readme">
        DOCS
      </a>
    </mat-card-actions>
  </mat-card>
</div>
