@use './theme/material.scss';

@use 'projects/form-stepper/src/lib/scss/form-stepper.scss' with (
  $breakpoint: 960px
);

// Required by the FormStepper
@import '@angular/cdk/overlay-prebuilt.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
