<h1 class="title">Welcome to ng-libs</h1>

<mat-card>
  <mat-card-title>IfNonNullish</mat-card-title>
  <mat-card-content>Nullish coalescing operator as Angular structural directive and more...</mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/if-non-nullish">DEMO</a>
    <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/if-non-nullish#readme">
      DOCS
    </a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>FormStepper</mat-card-title>
  <mat-card-content>Advanced stepper for ReactiveFormModule.</mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/form-stepper/demo/onboarding">DEMO</a>
    <a mat-button target="_blank" href="https://github.com/avine/ng-libs/tree/main/projects/form-stepper#readme">
      DOCS
    </a>
  </mat-card-actions>
</mat-card>
