<h1 class="title">Welcome to ng-libs</h1>

<mat-card>
  <mat-card-title>IfNonNullish</mat-card-title>
  <mat-card-content>Nullish coalescing operator as Angular structural directive and more...</mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/if-non-nullish">DEMO</a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>FormStepper</mat-card-title>
  <mat-card-content>Multi-level stepper...</mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/form-stepper/demo/onboarding">DEMO</a>
  </mat-card-actions>
</mat-card>
