<pre>{{ formGroup.value | json }}</pre>

<form [formGroup]="formGroup">
  <autocomplete-input formControlName="list" [datalist]="datalist" [minLength]="minLength" #autocomplete>
    <ng-template autocompleteSuggestionsTemplate>
      <div>
        <div
          autocompleteSuggestion
          *ngFor="let suggestion of autocomplete.suggestions$ | async; index as suggestionIndex"
          (click)="autocomplete.selectSuggestion(suggestion)"
        >
          <span [innerHTML]="suggestion | autocompleteHighlightSuggestion: autocomplete.value"></span>
          {{ suggestionIndex === autocomplete.focusedSuggestionIndex ? ' X' : '' }}
        </div>
      </div>
    </ng-template>
  </autocomplete-input>
</form>

<br /><br /><br /><br /><br />

<pre>{{ value | json }}</pre>

<autocomplete-input [datalist]="datalist" [(value)]="value" [minLength]="minLength"></autocomplete-input>
