<pre>{{ formGroup.value | json }}</pre>

<form [formGroup]="formGroup">
  <autocomplete-input
    formControlName="list"
    placeholder="Hello"
    [datalist]="datalist"
    [minLength]="minLength"
    #autocomplete
  >
    <ng-template autocompleteSuggestionsTemplate>
      <div class="autocomplete-input__suggestions" [style.width]="autocomplete.inputWidthPx">
        <div
          autocompleteSuggestion
          class="autocomplete-input__suggestion"
          [class.autocomplete-input__suggestion--focused]="suggestionIndex === autocomplete.focusedSuggestionIndex"
          *ngFor="let suggestion of autocomplete.suggestions$ | async; index as suggestionIndex"
          (click)="autocomplete.selectSuggestion(suggestion)"
        >
          <span [innerHTML]="suggestion | autocompleteHighlightSuggestion: autocomplete.value"></span>

          <span *ngIf="suggestion === autocomplete.value" class="autocomplete-input__suggestion-check">&check;</span>
        </div>
      </div>
    </ng-template>
  </autocomplete-input>
</form>

<br /><br /><br /><br /><br />

<pre>{{ value | json }}</pre>

<autocomplete-input
  placeholder="Hello"
  [datalist]="datalist"
  [(value)]="value"
  [minLength]="minLength"
></autocomplete-input>
