<h1>Autocomplete with Template Form</h1>

<pre>{{ formGroup.value | json }}</pre>

<form #formGroup="ngForm">
  <input
    cdkOverlayOrigin
    #dropDownOrigin="cdkOverlayOrigin"
    autocomplete="off"
    class="input"
    name="country"
    [(ngModel)]="country"
    [autocompleteInput]="autocomplete"
    #autocompleteInput="autocompleteInput"
  />

  <autocomplete-suggestions
    #autocomplete
    [datalist]="countries"
    [inputMinLength]="inputMinLength"
    [(inputValue)]="country"
  >
    <ng-template
      *ngIf="autocomplete.suggestions$ | async as suggestions"
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="dropDownOrigin"
      [cdkConnectedOverlayOpen]="(autocomplete.shouldDisplaySuggestions$ | async) ?? false"
    >
      <div class="demo-autocomplete__suggestions" [style.width]="autocompleteInput.inputWidthPx">
        <div
          *ngFor="let suggestion of suggestions; index as suggestionIndex"
          [autocompleteSuggestion]="suggestion"
          class="demo-autocomplete__suggestion"
          [class.demo-autocomplete__suggestion--focused]="
            suggestionIndex === (autocomplete.focusedSuggestionIndex$ | async)
          "
        >
          <span
            [innerHTML]="
              suggestion
                | autocompleteHighlight: autocomplete.inputValue : { css: 'demo-autocomplete__suggestion-highlight' }
            "
          ></span>

          <span *ngIf="suggestion === autocomplete.inputValue" class="demo-autocomplete__suggestion-check">
            &check;
          </span>
        </div>
      </div>
    </ng-template>
  </autocomplete-suggestions>
</form>

<app-view-source
  linkHref="https://github.com/avine/ng-libs/blob/main/src/app/autocomplete/template-form/template-form.component.html"
></app-view-source>
