<h2 class="title">Autocomplete with Template Form</h2>

<pre>{{ formGroup.value | json }}</pre>

<form #formGroup="ngForm">
  <input
    cdkOverlayOrigin
    #dropDownOrigin="cdkOverlayOrigin"
    autocomplete="off"
    name="country"
    [(ngModel)]="country"
    [autocompleteInput]="autocomplete"
    #autocompleteInput="autocompleteInput"
  />

  <autocomplete-suggestions
    #autocomplete
    [datalist]="countries"
    [inputMinLength]="inputMinLength"
    [(inputValue)]="country"
  >
    <ng-template
      *ngIf="autocomplete.suggestions$ | async as suggestions"
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="dropDownOrigin"
      [cdkConnectedOverlayOpen]="(autocomplete.shouldDisplaySuggestions$ | async) ?? false"
    >
      <div class="autocomplete-input__suggestions" [style.width]="autocompleteInput.inputWidthPx">
        <div
          *ngFor="let suggestion of suggestions; index as suggestionIndex"
          [autocompleteSuggestion]="suggestion"
          class="autocomplete-input__suggestion"
          [class.autocomplete-input__suggestion--focused]="
            suggestionIndex === (autocomplete.focusedSuggestionIndex$ | async)
          "
        >
          <span
            [innerHTML]="
              suggestion
                | autocompleteHighlight: autocomplete.inputValue:{ css: 'autocomplete-input__suggestion-highlight' }
            "
          ></span>

          <span *ngIf="suggestion === autocomplete.inputValue" class="autocomplete-input__suggestion-check">
            &check;
          </span>
        </div>
      </div>
    </ng-template>
  </autocomplete-suggestions>
</form>
